<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.all_the_best.knock_knock">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_appicon"
        android:label="똑똑"
        android:roundIcon="@mipmap/ic_appicon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Knock_Knock">
        <activity android:name=".parent_layout.ParentMyScrapActivity"></activity>
        <activity android:name=".parent_layout.ParentMyBabyActivity" />
        <activity android:name=".parent_layout.ParentEditProfileActivity" />
        <activity android:name=".parent_layout.ParentMyPageActivity" />
        <activity android:name=".parent_layout.ParentMemoActivity" />
        <activity android:name=".parent_layout.ParentRecordDetailActivity" />
        <activity android:name=".parent_layout.ParentRecordActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".parent_layout.ParentNoticeActivity" />
        <activity android:name=".parent_layout.ParentAccountActivity" />
        <activity android:name=".parent_layout.ParentAlarmSettingActivity" />
        <activity android:name=".parent_layout.ParentSettingActivity" />
        <activity android:name=".parent_layout.ParentSearchFaqActivity" />
        <activity android:name=".infant_layout.InfantCookieSaveActivity" />
        <activity android:name=".infant_layout.InfantDecoActivity" />
        <activity android:name=".infant_layout.InfantGiftEndActivity" />
        <activity android:name=".infant_layout.InfantGiftBoxActivity" />
        <activity android:name=".infant_layout.InfantGiftStartActivity" />
        <activity android:name=".infant_layout.InfantSwitchCharacterActivity" />
        <activity android:name=".infant_layout.InfantSelectCharacterActivity" />
        <activity android:name=".infant_layout.InfantTalkStartActivity" />
        <activity android:name=".infant_layout.InfantSelectPersonActivity" />
        <activity android:name=".infant_layout.InfantSelectFeelActivity" />
        <activity android:name=".infant_layout.InfantSelectIdActivity" />
        <activity android:name=".infant_layout.InfantHomeActivity" />
        <activity android:name=".parent_layout.ParentFaqDetailActivity" />
        <activity android:name=".parent_layout.ParentHomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".base.SelectModeActivity" />
        <activity android:name=".base.SignupActivity" />
        <activity android:name=".base.LoginActivity" />
        <activity android:name=".base.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>