<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.all_the_best.knock_knock">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_appicon"
        android:label="똑똑"
        android:roundIcon="@mipmap/ic_appicon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Knock_Knock">
        <activity android:name=".infant.gift.view.InfantGetGiftPopupActivity"></activity>
        <activity android:name=".parent.talk.view.ParentRealTalkActivity" />
        <activity android:name=".infant.cookie.view.InfantGetCookiePopupActivity" />
        <activity android:name=".parent.mypage.view.ParentMyScrapActivity" />
        <activity android:name=".parent.mypage.view.ParentMyBabyActivity" />
        <activity android:name=".parent.mypage.view.ParentEditProfileActivity" />
        <activity android:name=".parent.mypage.view.ParentMyPageActivity" />
        <activity android:name=".parent.record.view.ParentRecordMemoActivity" />
        <activity android:name=".parent.record.view.ParentRecordDetailActivity" />
        <activity android:name=".parent.record.view.ParentRecordActivity" />
        <activity android:name=".parent.alarm.view.ParentNoticeActivity" />
        <activity android:name=".parent.setting.view.ParentAccountActivity" />
        <activity android:name=".parent.setting.view.ParentAlarmSettingActivity" />
        <activity android:name=".parent.setting.view.ParentSettingActivity" />
        <activity android:name=".parent.faq.view.ParentFaqSearchActivity" />
        <activity android:name=".infant.cookie.view.InfantCookieSaveActivity" />
        <activity android:name=".infant.deco.view.InfantDecoActivity" />
        <activity android:name=".infant.gift.view.InfantGiftEndActivity" />
        <activity android:name=".infant.gift.view.InfantGiftBoxActivity" />
        <activity android:name=".infant.gift.view.InfantGiftStartActivity" />
        <activity android:name=".infant.change.view.InfantSwitchCharacterActivity" />
        <activity android:name=".infant.setting.view.InfantSelectCharacterActivity" />
        <activity android:name=".infant.talk.view.InfantTalkStartActivity" />
        <activity android:name=".infant.talk.view.InfantSelectPersonActivity" />
        <activity android:name=".infant.talk.view.InfantSelectFeelActivity" />
        <activity android:name=".infant.setting.view.InfantSelectIdActivity" />
        <activity android:name=".infant.home.view.InfantHomeActivity" />
        <activity android:name=".parent.faq.view.ParentFaqDetailActivity" />
        <activity android:name=".parent.home.view.ParentHomeActivity" />
        <activity android:name=".parent.base.view.SelectModeActivity" />
        <activity android:name=".parent.base.view.SignupActivity" />
        <activity android:name=".parent.base.view.LoginActivity" />
        <activity android:name=".parent.base.view.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>